* {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

li {
	list-style:none;
}

img {
	display: block;
	vertical-align: middle;
}

input {
	border: 0 none;
	outline: none;
}

h1,h2,h3,h4,h4,h5,h6 {
	font-weight: normal;
}

i,em {
	font-style: normal;
}

.w {
	width: 1220px;
	margin: 0 auto;
}

body {
	font:12px/100% "微软雅黑";
	background-color: #ededed;
}


.top {
	height: 99px;
	background-color: #0e0e0e;
	border-bottom: 1px solid #0e0e0e;
}

.top .nav {
	height: 100%;
	
}

.nav .logo {
	width: 40px;
	height: 40px;
	float: left;
	background: url("../需要的图片/logo.png");
	margin-top:25px;
}

.nav .links {
	float: left;
	line-height: 99px;
	margin-left: 200px;
}
.nav .links li {
	float: left;
	font-size: 14px;
	margin-right: 50px;
}
.links li:last-child {
	margin: 0;
}
.links li a {
	color: #ccc;
}

.nav .user-info {
	float: right;
	margin-top: 39px;

}
.nav .user-info i.icon {
	width: 22px;
	height: 22px;
	float: left;
	background: url("../需要的图片/account-icon.png");
}

.nav .user-info i.buycar {
	width: 22px;
	height: 22px;
	float: left;
	background: url("../需要的图片/account-icon.png") 0 -22px;
	margin-left: 30px;
}
.nav .user-info i.num {
	float: right;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #999;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	margin-left: 4px;
}
header {
	height: 88px;
	line-height: 88px;
}
header .nav li {
	float: left;
	font-size: 15px;
	margin-right: 40px;
}

main .banner {
	border-radius: 10px;
	overflow: hidden;
}

.photo {
	height: 200px;
	margin-top: 30px;
	
}
.photo ul {
	border-radius: 10px;
	overflow: hidden;
}
.photo ul li {
	float: left;

}
.shop-show {
	margin-top: 7px;
	height: 423px;
	border-radius: 10px;
	overflow: hidden;
}
.shop-show li {
	height: 423px;
	width: 304px;
	float: left;
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	border-left: 1px solid #ccc;
	
}
.shop-show li:first-child {
	border:0 none;
	width: 305px;
}
.shop-show li a {
	display: block;
	margin-top: 46px;
}
.shop-show li img {
	margin: 0 auto;
}

.shop-show .desc p {
	font-size: 16px;
	line-height: 24px;
	margin-top: 13px;
}
.shop-show .desc span {
	line-height: 20px;
}
.shop-show .price {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: red;
	margin-top: 62px;
}
.shop-show .price i {
	font-size: 14px;
}


div.choose {
	overflow: hidden;
	margin-top: 29px;
	border-radius: 10px;
}

div.choose .title {
	height: 60px;
	background-color: #fafafa;
	line-height: 60px;
	font-size: 18px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
}
div.choose ul li {
	float: left;
	width: 304px;
	height: 428px;
	float: left;
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
div.choose ul li:first-child {
	width: 610px;
	border: 0 none;
}



div.choose ul li a {
	display: block;
	margin-top: 46px;
}
div.choose ul img {
	margin: 0 auto;
}

div.choose ul .desc p {
	font-size: 16px;
	line-height: 24px;
	margin-top: 13px;
}
div.choose ul .desc span {
	line-height: 20px;
}
div.choose ul .price {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: red;
	margin-top: 62px;
}
div.choose ul .price i {
	font-size: 14px;
}

div.pinpai {
	overflow: hidden;
	margin-top: 29px;
	border-radius: 10px;
}

div.pinpai .title {
	height: 60px;
	background-color: #fafafa;
	line-height: 60px;
	font-size: 18px;
	padding-left: 20px;
	border-bottom: 1px solid #ccc;
}
div.pinpai ul li {
	width: 304px;
	height: 199px;
	float: left;
	border-right: 1px solid #ccc;
}
.pinpai img {
	width: 304px;
	height: 199px;
}


.footer {
	height: 233px;
	background-color: #fafafa;
	margin-top: 60px;
	
}
.footer .content {
	position: relative;
	height: 233px;
}
.footer .help {
	float: left;
	margin-top: 99px;
}
.footer .help li {
	margin-bottom: 12px;
	width: 150px;
}
.footer .help li:first-child {
	margin-bottom: 20px;
}

.footer .num {
	font-size: 28px;
	color: #646464;
	font-weight: 700;
	position: absolute;
	right: 0;
	top: 100px;
}
.footer .time {
	font-size: 12px;
	color: #ccc;
	position: absolute;
	right: 0;
	top: 136px;
}

.footer .btn {
	position: absolute;
	width: 102px;
	height: 32px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	color: skyblue;
	right: 0;
	bottom: 36px;
}

